.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;

  &__left {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #969696;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #969696;
  }

  p {
    font-family: PT Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.53px;
    text-align: left;
    color: #969696;
  }
}

.header {
  background-color: #0f0f0f;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav__logo {
    font-family: Post No Bills Jaffna;
    font-size: 36px;
    font-weight: 700;
    line-height: 53.82px;
    text-align: left;
    color: #ffffff;
  }

  &__nav__item {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.12px;
    text-align: left;
    color: #ffffff;
  }

  &__nav__list {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
