.footer {
  background-color: #0f0f0f;
  padding: 30px 0px;
  h2 {
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 700;
    line-height: 47.99px;
    text-align: center;
    color: white;
  }

  &__imgs {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
      width: 250px;
    }
  }
}
